[submodule "shared"]
	path = shared
	url = https://github.com/powerplanner/shared.git
[submodule "portablelibraries"]
	path = portablelibraries
	url = https://github.com/barebonesdev/portablelibraries
[submodule "applibraries"]
	path = applibraries
	url = https://github.com/barebonesdev/applibraries
