<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="61442BareBonesDev.PowerPlanner.Dev" Publisher="CN=D922F830-2E44-498C-84F8-05D8FB2F43B6" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="a16edc57-f271-4637-ab80-3eeac2efbe54" PhonePublisherId="800113d9-64b9-42a9-a117-97b2227789bc" />
  <Properties>
    <DisplayName>Power Planner</DisplayName>
    <PublisherDisplayName>BareBones Dev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.15063.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PowerPlannerUWP.App">
      <uap:VisualElements DisplayName="PP-Dev" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Power Planner" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\LockScreenLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2E366D" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appointmentsProvider">
          <uap:AppointmentsProvider>
            <uap:AppointmentsProviderLaunchActions>
              <uap:LaunchAction Verb="showAppointmentDetails" />
            </uap:AppointmentsProviderLaunchActions>
          </uap:AppointmentsProvider>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="powerplanner" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="appointments" />
  </Capabilities>
</Package>