<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PowerPlannerUWP' in resource group '/subscriptions/47a3db26-28c4-420b-9e28-7571554e6c5a/resourceGroups/Default-Storage-WestUS' -->
  <InstrumentationKey>f240a96c-a93d-4ac3-860a-62308ee4b14b</InstrumentationKey>
</ApplicationInsights>